modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36005
externalPort = 3001

[[ports]]
localPort = 38947
externalPort = 3003

[[ports]]
localPort = 39271
externalPort = 8008

[[ports]]
localPort = 39525
externalPort = 8080

[[ports]]
localPort = 40409
externalPort = 6000

[[ports]]
localPort = 41211
externalPort = 3000

[[ports]]
localPort = 42155
externalPort = 4200

[[ports]]
localPort = 42169
externalPort = 6800

[[ports]]
localPort = 42761
externalPort = 5173

[[ports]]
localPort = 43415
externalPort = 8000

[[ports]]
localPort = 46181
externalPort = 5000

[[ports]]
localPort = 46563
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
